name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: [ stable ]
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - build: macos-x64
            os: macos-latest
            target: x86_64-apple-darwin
          - build: macos-arm64
            os: macos-latest
            target: aarch64-apple-darwin
          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - name: Update rust
        if: matrix.build == 'linux'
        run: rustup update
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
            components: clippy
      - name: Rust version
        run: rustup -V
      - name: Build
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: "build"
          target: ${{ matrix.target }}
          toolchain: ${{ matrix.rust }}
          args: "--workspace --release"
          strip: true

      - name: Install cargo-llvm-cov
        if: matrix.build == 'linux' && matrix.rust != 'nightly'
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Generate code coverage
        if: matrix.build == 'linux' && matrix.rust != 'nightly'
        run: cargo llvm-cov --workspace --lcov --output-path lcov.info

      - name: Upload to Codecov
        if: matrix.build == 'linux' && matrix.rust != 'nightly'
        uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run tests
        if: matrix.build != 'linux'
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: "test"
          target: ${{ matrix.target }}
          toolchain: ${{ matrix.rust }}
          args: "--workspace --release"
      - name: Setup linter
        if: matrix.rust == 'nightly' || matrix.build != 'linux'
        run: rustup component add clippy
      - name: Run linter
        if: matrix.rust == 'nightly' || matrix.build != 'linux'
        run: cargo clippy -- -Dwarnings
      - name: Run clippy-check
        if: matrix.rust != 'nightly' && matrix.build == 'linux'
        uses: auguwu/clippy-action@1.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check-args: --all-features --release
          args: -Dwarnings
      - name: Run audit
        if: matrix.rust != 'nightly' && matrix.build == 'linux'
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}